body{
  background-color: lightgoldenrodyellow;
}

h1{
  color: red;
}

span:hover{
  color: greenyellow;
}
.newspaper {
   
    column-count: 3;
    column-gap: 50px;
    column-rule-style: solid;
    column-rule-width: 5px;  
    column-rule-color: red;

  }
  .newspaper::selection{
background-color: aqua;
color: darkmagenta;
  }